:root {
  --primary-bg-color: #242424;
  --primary-text-color: rgba(255, 255, 255, 0.87);
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-bg-color: #1a1a1a;
  --button-hover-bg-color: #535bf2;
  --button-text-color: #fff;
  --button-border-color: transparent;
  --button-hover-border-color: #646cff;
  --quiz-bg-color: #333;
  --quiz-border-color: #ccc;
  --quiz-border-radius: 5px;
  --quiz-question-bg-color: #333;
  --quiz-question-text-color: #fff;
  --quiz-options-bg-color: #1a1a1a;
  --quiz-options-text-color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.25s;
}
a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--button-border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}
button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-text-color);
  border-color: var(--button-hover-border-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.app {
  text-align: center;
}

.start-screen,
.score-section,
.question-section {
  background-color: var(--quiz-bg-color);
  border: 1px solid var(--quiz-border-color);
  border-radius: var(--quiz-border-radius);
  padding: 20px;
  margin: 20px;
}

.score-section,
.result-section {
  margin-top: 20px;
}

.answers-section {
  margin-top: 20px;
}

.answers-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.answers-section ul {
  list-style-type: none;
  padding: 0;
}

.answers-section li {
  border: 1px solid var(--quiz-border-color);
  border-radius: var(--quiz-border-radius);
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--quiz-options-bg-color);
}

.answers-section li strong {
  font-weight: bold;
  color: var(--primary-text-color);
}

.answers-section li div {
  margin-top: 5px;
}

.question-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.answer-section button {
  margin: 10px;
}
