:root {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-bg-color: #535353;
  --button-hover-bg-color: #464646;
  --button-text-color: #ffffff;
  --button-border-color: transparent;
  --button-hover-border-color: #646cff;
  --quiz-bg-color: #333333;
  --quiz-border-color: #555555;
  --quiz-border-radius: 5px;
  --quiz-question-bg-color: #292929;
  --quiz-question-text-color: #ffffff;
  --quiz-options-bg-color: #1a1a1a;
  --quiz-options-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
}
button:hover {
  background-color: var(--button-hover-bg-color);
  border-color: var(--button-hover-border-color);
}

.app {
  text-align: center;
}

.start-screen,
.score-section,
.question-section {
  background-color: var(--quiz-bg-color);
  border: 1px solid var(--quiz-border-color);
  border-radius: var(--quiz-border-radius);
  padding: 20px;
  margin: 20px;
}

.score-section,
.result-section {
  margin-top: 20px;
}

.answers-section {
  margin-top: 20px;
}

.answers-section h3 {
  color: var(--text-color);
}

.answers-section li {
  border: 1px solid var(--quiz-border-color);
  border-radius: var(--quiz-border-radius);
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--quiz-options-bg-color);
}

.answers-section li strong {
  color: var(--text-color);
}


.answers-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.answers-section ul {
  list-style-type: none;
  padding: 0;
}

.answers-section li {
  border: 1px solid var(--quiz-border-color);
  border-radius: var(--quiz-border-radius);
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--quiz-options-bg-color);
}

.answers-section li strong {
  font-weight: bold;
  color: var(--primary-text-color);
}

.answers-section li div {
  margin-top: 5px;
}

.question-image {
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-top: 10px;
  max-height: 400px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.answer-section button {
  margin: 10px;
}
